<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <h1>Send a new message</h1>
    <form action="/new" method="post">
      <label for="user">User:</label>
      <input type="text" name="user" id="user" />
      <label for="message">Message:</label>
      <input type="text" name="message" id="message" />
      <button type="submit">Send message!</button>
    </form>
  </body>
</html>
